header {
  align-items: center;
  background-color: lightblue;
  display: flex;
  height: 60px;
  justify-content: center;
}

header.bottom {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.tab.active {
  border: 2px solid red;
}
