* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 300px;
  margin: 10px;
  position: relative;
  min-width: 272px;
}

.image.hidden {
  display: none;
}

.info {
  align-items: center;
  background: rgb(0, 0, 0, 0.5);
  bottom: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  position: absolute;
  width: 100%;
}

.info.highlighted {
  color: cornflowerblue;
}

.truncate {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 150px;
}

header {
  align-items: center;
  background-color: lightblue;
  display: flex;
  height: 60px;
  justify-content: center;
}

header.bottom {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.tab.active {
  border: 2px solid red;
}

@media (min-width: 576px) {
  .container {
    margin: 0 auto;
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1320px;
  }
}
